name: Test

permissions:
  contents: write

on: [push]

env:
  CARGO_TERM_COLOR: always

defaults:
  run:
    shell: bash --noprofile --norc -CeEuo pipefail {0}

jobs:
  rust-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt,clippy
          rustflags: "-A warnings"
          toolchain: "stable"
          target: wasm32-unknown-unknown
      # - uses: pnpm/action-setup@v4
      #   with:
      #     version: 10
      - uses: cargo-bins/cargo-binstall@main

      - uses: easy-install/easy-setup@v1
        with:
          url: |-
            https://github.com/ahaoboy/neofetch

      - name: install ansi2
        run: |
          cargo -q install --path=ansi2  --features=cli

      - name: Run neofetch
        run: |
          neofetch > ./neofetch-${{ matrix.os }}.ans
          neofetch | ansi2 > ./neofetch-${{ matrix.os }}.svg

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: ansi2-${{ matrix.os }}
          path: |
            ./*.svg
            ./*.ans

  npm-test:
    if: false
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt,clippy
          rustflags: "-A warnings"
          toolchain: "stable"
          target: wasm32-unknown-unknown
      - uses: cargo-bins/cargo-binstall@main
      - name: test
        run: |
          cargo binstall wasm-pack -y --force

          cd ./ansi2
          cargo test -- --nocapture
          cd ..

          cd ./ansi2-wasm
          pnpm i
          pnpm run build

          cargo binstall neofetch -y --force
          neofetch > neofetch-${{ matrix.os }}.ans
          neofetch | node ./bin/cli.js --format=svg --theme=vscode > neofetch-${{ matrix.os }}.svg

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: ansi2-wasm-${{ matrix.os }}
          path: |
            ./ansi2-wasm/*.svg
            ./ansi2-wasm/*.ans
